* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

.course-calendar {
  width: 100%;
  /* background: whitesmoke; */
  height:auto;
}

.course-calendar-months {
  width: 50%;
  float: left;
  background: url('../calendar_images/cal.png') no-repeat;
}


.course-calendar-months ul{
  height: 500px;
  width: 270px;
  margin-left: 28px;
  margin-top: 138px;
}

.course-calendar-months li{
  width: 20%;
  float: left;
  margin: 2%;
  height: 40px;
  margin-bottom: 13px;
}

.course-calendar-info {
  width: 50%;
  float: right;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
